[submodule "optimization/LBFGSB"]
	path = engine/optimization/LBFGSB
	url = git@github.com:vkazei/LBFGSB.git
[submodule "helmholtz"]
	path = engine/helmholtz
	url = git@github.com:vkazei/fastHelmholtz.git
